<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('查看广告信息')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m shop-detail-contain" id="form-shop-ad-edit" th:object="${ad}">
			<input name="id" type="hidden" th:field="*{id}"/>
			<div class="form-group tc">
				<label class="col-sm-3 control-label">广告图片：</label>
				<div class="col-sm-8">
					<img id="ad_img" class="img-lg" th:src="${ad.imageUrl}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">广告名称：</label>
				<div class="col-sm-8">
					<p type="text" name="productName" id="productName" th:text="${ad.adName}"></p>
				</div>
			</div>
<!--			var str={1:"网址",2:"内部算力",3:"内部拍品",4:"内部寄售算力",5:"内部文章",7:"无链接"}[adType]-->
			<div class="form-group">
				<label class="col-sm-3 control-label">广告类型：</label>
				<div class="col-sm-8">
					<p th:switch="${ad.adType}">
						<span th:case="1">网址</span>
						<span th:case="2">内部算力</span>
						<span th:case="3">内部拍品</span>
						<span th:case="4">内部寄售算力</span>
						<span th:case="5">内部文章</span>
						<span th:case="7">无链接</span>
						<span th:case="8">客服</span>
					</p>
				</div>
			</div>
			<div class="form-group" th:if="${ad.adType ne 7}">
				<label class="col-sm-3 control-label" th:switch="${ad.adType}">
					<span th:case="1">链接：</span>
					<span th:case="2">算力id：</span>
					<span th:case="3">拍卖id：</span>
					<span th:case="4">寄售算力id：</span>
					<span th:case="5">文章id：</span>
				</label>
				<div class="col-sm-8">
					<p type="text" name="adLink" th:text="${ad.adLink}"></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">广告内容：</label>
				<div class="col-sm-8">
					<p type="text" name="content" th:text="${ad.content}"></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">是否启用：</label>
				<div class="col-sm-8">
					<p th:if="${ad.status eq 1}">启用</p>
					<p th:if="${ad.status eq 0}">不启用</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">权重：</label>
				<div class="col-sm-8">
					<p name="sort" th:text="${ad.sort}"></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"></label>
				<div class="col-sm-8">
					<a type="button" class="btn btn-w-m btn-primary" onclick="gotoEdit()">修改</a>
					<a type="button" class="btn btn-w-m btn-primary" onclick="SHOP_COMMON.pageBack()">返回</a>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript" th:inline="javascript">
		var prefix = ctx + "ext/shop/ad";
		function gotoEdit() {
			var url = prefix + '/edit/' + $("#id").val();
			$.modal.openTab("编辑广告", url);
		}
	</script>
</body>
</html>
